---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/me/adaccounts?access_token=<access_token>&fields=id,account_id,account_status,age,created_time,currency,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f1537e651439e2c52fea3082a27564b4a01416d1"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"act_1223529531023664","account_id":"1223529531023664","account_status":1,"age":141.11222222222,"created_time":"2016-12-02T10:50:57-0800","currency":"USD","name":"International
        II"},{"id":"act_1198305280212756","account_id":"1198305280212756","account_status":1,"age":159.13422453704,"created_time":"2016-11-10T13:50:54-0800","currency":"USD","name":"Retargeting"},{"id":"act_1183122141731070","account_id":"1183122141731070","account_status":1,"age":179.88560185185,"created_time":"2016-10-27T10:55:59-0700","currency":"USD","name":"DollarStart"},{"id":"act_1132789356764349","account_id":"1132789356764349","account_status":1,"age":232.87106481481,"cre[...]
