---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/me/adaccounts?access_token=<access_token>&fields=id,account_id,account_status,age,created_time,currency,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0794dfeb67986cbc59e2ca4924f60b6257d02cec"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"act_1223529531023664","account_id":"1223529531023664","account_status":1,"age":141.11508101852,"created_time":"2016-12-02T10:50:57-0800","currency":"USD","name":"International
        II"},{"id":"act_1198305280212756","account_id":"1198305280212756","account_status":1,"age":159.13708333333,"created_time":"2016-11-10T13:50:54-0800","currency":"USD","name":"Retargeting"},{"id":"act_1183122141731070","account_id":"1183122141731070","account_status":1,"age":179.88846064815,"created_time":"2016-10-27T10:55:59-0700","currency":"USD","name":"DollarStart"},{"id":"act_1132789356764349","account_id":"1132789356764349","account_status":1,"age":232.87392361111,"cre[...]
- request:
    method: post
    uri: https://graph.facebook.com/v2.8/act_10152335766987003/campaigns
    body:
      encoding: UTF-8
      string: name=Test&objective=MOBILE_APP_INSTALLS&status=ACTIVE&access_token=<access_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: UTF-8
      string: '{"id":"6076261167842"}'
  recorded_at: Tue, 25 Apr 2017 23:54:27 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/6076261167842?access_token=<access_token>&fields=id,account_id,buying_type,can_use_spend_cap,configured_status,created_time,effective_status,name,objective,start_time,stop_time,updated_time,spend_cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a632836fce3a0820a1a20bfa4a81ecd3627f0062"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.8
    body:
      encoding: UTF-8
      string: '{"id":"6076261167842","account_id":"10152335766987003","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"ACTIVE","created_time":"2017-04-25T16:54:27-0700","effective_status":"ACTIVE","name":"Test","objective":"MOBILE_APP_INSTALLS","start_time":"1969-12-31T15:59:59-0800","updated_time":"2017-04-25T16:54:27-0700"}'
  recorded_at: Tue, 25 Apr 2017 23:54:28 GMT
recorded_with: VCR 3.0.3
