---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v<api_version>/act_10152335766987003/adsets?access_token=<access_token>&appsecret_proof=<appsecret_proof>&effective_status%5B%5D=ACTIVE&fields=id,account_id,campaign_id,name,status,configured_status,effective_status,bid_strategy,bid_amount,billing_event,optimization_goal,pacing_type,daily_budget,budget_remaining,lifetime_budget,promoted_object,targeting,created_time,updated_time&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v<api_version>
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 26 Apr 2017 00:48:44 GMT
recorded_with: VCR 3.0.3
