---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/me/adaccounts?access_token=REDACTED&fields=id,account_id,account_status,age,created_time,currency,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0e8aec31399e4dd567bca8791a85700f261c9a57"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"act_1223529531023664","account_id":"1223529531023664","account_status":1,"age":24.450358796296,"created_time":"2016-12-02T10:50:57-0800","currency":"USD","name":"Dwight
        II"},{"id":"act_1198305280212756","account_id":"1198305280212756","account_status":1,"age":42.472361111111,"created_time":"2016-11-10T13:50:54-0800","currency":"USD","name":"Retargeting"},{"id":"act_1183122141731070","account_id":"1183122141731070","account_status":1,"age":63.223738425926,"created_time":"2016-10-27T10:55:59-0700","currency":"USD","name":"Dwight"},{"id":"act_1132789356764349","account_id":"1132789356764349","account_status":1,"age":116.20920138889,"created_time":"[...]
