---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/23842539828830698?access_token=TEST_ACCESS_TOKEN&fields=id,account_id,buying_type,can_use_spend_cap,configured_status,created_time,effective_status,name,objective,start_time,stop_time,updated_time,spend_cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b25779bfa4ff8b25916ea5be3452b02cd4f9e0b8"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"23842539828830698","account_id":"1132789356764349","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"ACTIVE","created_time":"2016-12-31T14:08:49-0800","effective_status":"ACTIVE","name":"Test","objective":"MOBILE_APP_INSTALLS","start_time":"1969-12-31T15:59:59-0800","updated_time":"2016-12-31T14:08:49-0800"}'
  recorded_at: Sat, 31 Dec 2016 22:09:54 GMT
- request:
    method: delete
    uri: https://graph.facebook.com/v2.8/23842539828830698?access_token=TEST_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 31 Dec 2016 22:09:56 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/23842539828830698?access_token=TEST_ACCESS_TOKEN&fields=id,account_id,buying_type,can_use_spend_cap,configured_status,created_time,effective_status,name,objective,start_time,stop_time,updated_time,spend_cap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"559e3253401809e7269e627e799adde67e56f521"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"23842539828830698","account_id":"1132789356764349","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"DELETED","created_time":"2016-12-31T14:08:49-0800","effective_status":"DELETED","name":"Test","objective":"MOBILE_APP_INSTALLS","start_time":"1969-12-31T15:59:59-0800","updated_time":"2016-12-31T14:09:53-0800"}'
  recorded_at: Sat, 31 Dec 2016 22:09:56 GMT
recorded_with: VCR 3.0.3
