---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/me/adaccounts?access_token=TEST_ACCESS_TOKEN&fields=id,account_id,account_status,age,created_time,currency,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bbd3964da1d3b448d900824d9f2dd4bd05fdcad4"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"act_1223529531023664","account_id":"1223529531023664","account_status":1,"age":26.038738425926,"created_time":"2016-12-02T10:50:57-0800","currency":"USD","name":"Dwight
        II"},{"id":"act_1198305280212756","account_id":"1198305280212756","account_status":1,"age":44.060740740741,"created_time":"2016-11-10T13:50:54-0800","currency":"USD","name":"Retargeting"},{"id":"act_1183122141731070","account_id":"1183122141731070","account_status":1,"age":64.812118055556,"created_time":"2016-10-27T10:55:59-0700","currency":"USD","name":"Dwight"},{"id":"act_1132789356764349","account_id":"1132789356764349","account_status":1,"age":117.79758101852,"created_time":"[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/act_1115226431853975/campaigns?access_token=TEST_ACCESS_TOKEN&effective_status%5B%5D=ACTIVE&fields=id,account_id,buying_type,can_use_spend_cap,configured_status,created_time,effective_status,name,objective,start_time,stop_time,updated_time,spend_cap&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5f6f836ea1008105a6ec05674c398474d450d45f"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"23842540417890562","account_id":"1115226431853975","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"ACTIVE","created_time":"2016-10-29T13:45:46-0700","effective_status":"ACTIVE","name":"iOS
        App installs","objective":"MOBILE_APP_INSTALLS","start_time":"2016-10-29T13:45:46-0700","updated_time":"2016-11-22T23:59:42-0800"},{"id":"23842512568220562","account_id":"1115226431853975","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"ACTIVE","created_time":"2016-08-26T16:24:44-0700","effective_status":"ACTIVE","name":"Website
        Conversions","objective":"CONVERSIONS","start_time":"2016-08-26T16:24:45-0700","updated_time":"2016-11-22T23:59:43-0800"},{"id":"23842503453620562","account_id":"1115226431853975","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"ACTIVE","created_time":"2016-08-12T16:31:59-0700","effective_status":"ACTIVE","name":"App
        Installs","objective":"MOBILE_APP_INSTALLS","start_time":"2016-08-12T16:31:59-0700","updated_time":"2016-11-22T23:59:43-0800"}],"paging":{"cursors":{"before":"MjM4NDI1NDA0MTc4OTA1NjIZD","after":"MjM4NDI1MDM0NTM2MjA1NjIZD"}}}'
  recorded_at: Sat, 31 Dec 2016 22:04:32 GMT
recorded_with: VCR 3.0.3
