---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/TEST_BUSINESS_ID/product_catalogs?access_token=TEST_ACCESS_TOKEN&fields=id,name,vertical,product_count,feed_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4da6baa87a2d2d9485d71880069bf895add8e5de"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"197871307315718","name":"Test","vertical":"commerce","product_count":1,"feed_count":1}],"paging":{"cursors":{"before":"MTk3ODcxMzA3MzE1NzE4","after":"MTk3ODcxMzA3MzE1NzE4"}}}'
  recorded_at: Sat, 31 Dec 2016 23:54:49 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/197871307315718/products?access_token=TEST_ACCESS_TOKEN&fields=id,retailer_id,name,description,brand,category,currency,price,image_url,url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0adfdc1aae339f3208d7f582692f6260d8128285"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1489112071104048","retailer_id":"retro-ruby-earrings","name":"Precious
        Retro .925 Sterling Silver Artificial Ruby Earrings","description":"$5 shipping
        - at your doorstep within 25-27 business days.","brand":"Adoration-Precious","category":"Jewelry
        | Earrings","currency":"USD","price":"$156.00","image_url":"https:\/\/external.xx.fbcdn.net\/safe_image.php?d=AQALnOfu1mhkpb4T&url=https\u00253A\u00252F\u00252Fd38eepresuu519.cloudfront.net\u00252F12c85243d743ac3cb21b71c34192b252\u00252Flarge.jpg&cfs=1&_nc_hash=AQBlxlDCq59tO6sE","url":"https:\/\/tophatter.com\/lots\/23275728"}],"paging":{"cursors":{"before":"MTQ4OTExMjA3MTEwNDA0OAZDZD","after":"MTQ4OTExMjA3MTEwNDA0OAZDZD"},"next":"https:\/\/graph.facebook.com\/v2.8\/197871307315718\/products?access_token=TEST_ACCESS_TOKEN&fields=id\u00252Cretailer_id\u00252Cname\u00252Cdescription\u00252Cbrand\u00252Ccategory\u00252Ccurrency\u00252Cprice\u00252Cimage_url\u00252Curl&limit=25&after=MTQ4OTExMjA3MTEwNDA0OAZDZD","previous":"https:\/\/graph.facebook.com\/v2.8\/197871307315718\/products?access_token=TEST_ACCESS_TOKEN&fields=id\u00252Cretailer_id\u00252Cname\u00252Cdescription\u00252Cbrand\u00252Ccategory\u00252Ccurrency\u00252Cprice\u00252Cimage_url\u00252Curl&limit=25&before=MTQ4OTExMjA3MTEwNDA0OAZDZD"}}'
  recorded_at: Sat, 31 Dec 2016 23:54:49 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/197871307315718/products?access_token=TEST_ACCESS_TOKEN&after=MTQ4OTExMjA3MTEwNDA0OAZDZD&fields=id,retailer_id,name,description,brand,category,currency,price,image_url,url&limit=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Sat, 31 Dec 2016 23:54:49 GMT
recorded_with: VCR 3.0.3
