---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.8/TEST_BUSINESS_ID/product_catalogs
    body:
      encoding: UTF-8
      string: name=Foo%20Bar&access_token=TEST_ACCESS_TOKEN&fields=id%2Cname%2Cvertical%2Cproduct_count%2Cfeed_count
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"1364487270270097"}'
  recorded_at: Sat, 31 Dec 2016 23:50:25 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/1364487270270097?access_token=TEST_ACCESS_TOKEN&fields=id,name,vertical,product_count,feed_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"11709a060f8bcdea160160f9fcde3e7dc81c19bd"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"1364487270270097","name":"Foo Bar","vertical":"commerce","product_count":0,"feed_count":0}'
  recorded_at: Sat, 31 Dec 2016 23:50:25 GMT
recorded_with: VCR 3.0.3
