---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/TEST_BUSINESS_ID/product_catalogs?access_token=TEST_ACCESS_TOKEN&fields=id,name,vertical,product_count,feed_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2e36e7b243380280d8b9906d419f5649690ec247"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1364487270270097","name":"Foo Bar","vertical":"commerce","product_count":0,"feed_count":0},{"id":"197871307315718","name":"Test","vertical":"commerce","product_count":1,"feed_count":1}],"paging":{"cursors":{"before":"MTM2NDQ4NzI3MDI3MDA5NwZDZD","after":"MTk3ODcxMzA3MzE1NzE4"}}}'
  recorded_at: Sat, 31 Dec 2016 23:52:44 GMT
- request:
    method: delete
    uri: https://graph.facebook.com/v2.8/1364487270270097?access_token=TEST_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Sat, 31 Dec 2016 23:52:44 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/TEST_BUSINESS_ID/product_catalogs?access_token=TEST_ACCESS_TOKEN&fields=id,name,vertical,product_count,feed_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4da6baa87a2d2d9485d71880069bf895add8e5de"'
      Facebook-Api-Version:
      - v2.8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"197871307315718","name":"Test","vertical":"commerce","product_count":1,"feed_count":1}],"paging":{"cursors":{"before":"MTk3ODcxMzA3MzE1NzE4","after":"MTk3ODcxMzA3MzE1NzE4"}}}'
  recorded_at: Sat, 31 Dec 2016 23:52:45 GMT
recorded_with: VCR 3.0.3
