---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v<api_version>/act_10152335766987003/campaigns
    body:
      encoding: UTF-8
      string: name=Test&objective=APP_INSTALLS&status=ACTIVE&access_token=<access_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v<api_version>
    body:
      encoding: UTF-8
      string: '{"id":"6076262393242"}'
  recorded_at: Wed, 26 Apr 2017 00:48:41 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v<api_version>/6076262393242?access_token=<access_token>&appsecret_proof=<appsecret_proof>&fields=id,account_id,buying_type,can_use_spend_cap,configured_status,created_time,effective_status,name,objective,start_time,stop_time,updated_time,spend_cap,budget_remaining,daily_budget,lifetime_budget
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"afc3f4866822b3f672a2f8d9eeb611fae118671d"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v<api_version>
    body:
      encoding: UTF-8
      string: '{"id":"6076262393242","account_id":"10152335766987003","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"ACTIVE","created_time":"2017-04-25T17:48:41-0700","effective_status":"ACTIVE","name":"Test","objective":"APP_INSTALLS","start_time":"1969-12-31T15:59:59-0800","updated_time":"2017-04-25T17:48:41-0700"}'
  recorded_at: Wed, 26 Apr 2017 00:48:42 GMT
recorded_with: VCR 3.0.3
