---
http_interactions:
- request:
    method: get
    uri: http://worldtimeapi.org/api/ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"abbreviation":"AKDT","client_ip":"66.58.139.118","datetime":"2020-09-29T11:59:09.743279-08:00","day_of_week":2,"day_of_year":273,"dst":true,"dst_from":"2020-03-08T11:00:00+00:00","dst_offset":3600,"dst_until":"2020-11-01T10:00:00+00:00","raw_offset":-32400,"timezone":"America/Anchorage","unixtime":1601409549,"utc_datetime":"2020-09-29T19:59:09.743279+00:00","utc_offset":"-08:00","week_number":40}'
  recorded_at: Tue, 29 Sep 2020 19:59:09 GMT
recorded_with: VCR 6.0.0
