---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v<api_version>/act_10152335766987003/adcreatives?access_token=<access_token>&appsecret_proof=<appsecret_proof>&fields=id,name,object_story_id,object_story_spec,object_type,thumbnail_url,product_set_id,url_tags,status&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5856cd7a10f0d62aaee8548598b90c7eb260c13d"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v<api_version>
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6047307246042","name":"Ad from a Page post #6,047,307,246,042","object_story_spec":{"page_id":"300664329976860","instagram_actor_id":"1225641534119785","link_data":{"link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","message":"Tophatter
        hosts the world''s most exciting and entertaining live auctions feature","call_to_action":{"type":"INSTALL_MOBILE_APP","value":{"application":"295802707128640","link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","link_title":"Tophatter"}},"child_attachments":[{"link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","name":"Tophatter","call_to_action":{"type":"INSTALL_MOBILE_APP","value":{"application":"295802707128640","link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","link_title":"Tophatter"}}},{"link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","call_to_action":{"type":"INSTALL_MOBILE_APP","value":{"application":"295802707128640","link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter"}}},{"link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","call_to_action":{"type":"INSTALL_MOBILE_APP","value":{"application":"295802707128640","link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter"}}}],"multi_share_end_card":true,"multi_share_optimized":true}},"object_type":"INVALID","thumbnail_url":"https:\/\/external.xx.fbcdn.net\/safe_image.php?d=AQBUpgXveulYjAj7&w=64&h=64&url=https\u00253A\u00252F\u00252Fscontent.xx.fbcdn.net\u00252Fv\u00252Ft1.0-9\u00252F13645144_1096106237099328_9186797913597492566_n.png\u00253Foh\u00253Dda1ed4a885401f0e7477cdab5ac334f9\u002526oe\u00253D59796C5C&cfs=1&_nc_hash=AQBLX4jev8NGecY5","run_status":"ACTIVE"},{"id":"6047307243042","name":"Ad
        from a Page post #6,047,307,243,042","object_story_spec":{"page_id":"300664329976860","link_data":{"link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","message":"Tophatter
        hosts the world''s most exciting and entertaining live auctions feature","call_to_action":{"type":"INSTALL_MOBILE_APP","value":{"application":"295802707128640","link":"http:\/\/play.google.com\/store\/apps\/details?id=com.tophatter","link_title":"T[...]
