---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v<api_version>/act_10152335766987003/campaigns?access_token=<access_token>&appsecret_proof=<appsecret_proof>&effective_status%5B%5D=ACTIVE&fields=id,account_id,buying_type,can_use_spend_cap,configured_status,created_time,effective_status,name,objective,start_time,stop_time,updated_time,spend_cap,budget_remaining,daily_budget,lifetime_budget&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bef5c8022e30c0db14d45a5eff8f380b2e9be4a5"'
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v<api_version>
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6076261167842","account_id":"10152335766987003","buying_type":"AUCTION","can_use_spend_cap":true,"configured_status":"ACTIVE","created_time":"2017-04-25T16:54:27-0700","effective_status":"ACTIVE","name":"Test","objective":"APP_INSTALLS","start_time":"1969-12-31T15:59:59-0800","updated_time":"2017-04-25T16:54:27-0700"}],"paging":{"cursors":{"before":"NjA3NjI2MTE2Nzg0MgZDZD","after":"NjA3NjI2MTE2Nzg0MgZDZD"}}}'
  recorded_at: Wed, 26 Apr 2017 00:48:41 GMT
recorded_with: VCR 3.0.3
